# IntelliJ / IDEs
.idea/
*.iml

# Build / output
out/
bin/

# Libraries locais
main/java/lib/

# Logs
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Environment / Secrets =====
.env

# ===== Maven =====
target/

